.main {
  background: rgb(241, 75, 218);
  background: linear-gradient(
    158deg,
    rgba(241, 75, 218, 1) 0%,
    rgba(170, 48, 217, 1) 79%
  );
}


.container {
  background: rgba(75, 43, 81, 0.5);
  transition: 0.2s;
}

.list {
  padding: 16px 0px;
  transition: 0.2s;
}